node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

# IntelliJ project files
*.iml
*.ipr
*.iws
.idea

# NetBeans specific
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# Miscellaneous
*.class
*.log
*.pyc
*.swp

PROPOSAL.md